*{
	box-sizing: border-box;
}
img{

	width: 100%;
}
body{
	background: url(../pic.jpg) no-repeat center;
	background-size: cover;
	background-color:#007fff
}
body.b{
	background: url(../picture.jpg) no-repeat center;
	background-size: cover;
}
h1{
	color: red;
}
div.a{
	text-align: center;
	background-color: #ffff;
	padding: 5%;
}
a{
	padding: 2%;
	text-decoration: none;

}
div.b{
	text-align: center;
	background-color: #ffff;
	padding: 5%;

}
h1{
	text-align: center;
	padding: 3%;
}
title{

}
